# $Id: genie_eb_go_gs_itfclsd_08l.config 3068 2006-12-15 17:41:07Z cvs-arp $
# Base model configuration for tuning exercise of 8-level model with ITF closed

EXPID=genie_eb_go_gs
ma_flag_ebatmos=.TRUE.
ma_flag_goldsteinocean=.TRUE.
ma_flag_goldsteinseaice=.TRUE.
ma_flag_igcmatmos=.FALSE.
ma_flag_fixedocean=.FALSE.
ma_flag_fixedseaice=.FALSE.
ma_flag_fixedicesheet=.FALSE.
ma_flag_fixedchem=.FALSE.

# DP flags are important for global water and energy
# conservation tests
GENIEDP=TRUE
IGCMATMOSDP=TRUE

# Grid resolution
GENIENXOPTS='$(DEFINE)GENIENX=36'
GENIENYOPTS='$(DEFINE)GENIENY=36'
GOLDSTEINNLONSOPTS='$(DEFINE)GOLDSTEINNLONS=36'
GOLDSTEINNLATSOPTS='$(DEFINE)GOLDSTEINNLATS=36'
GOLDSTEINNLEVSOPTS='$(DEFINE)GOLDSTEINNLEVS=8'

# this is to only write ocean-grid data in genie-main
ma_write_flag_atm=.false.
ma_write_flag_sic=.false.

# this is to write genie-main data every 50000 timesteps=100 years
ma_dt_write=50000

# this is to control embm output periods
#   npstp='health check' from 1000=10 years to 50000=500 years
#   iwstp='restarts' from 50000=500 years to 10000=100 years
#   itstp='time series' from 100=1 year to 5000=50 years
#   ianav='an average' stays 50000=500 years
ea_3=50000
ea_4=10000
ea_5=5000
ea_6=20000

# this is to control goldstein output periods
#   npstp='health check' from 1000=10 years to 50000=500 years
#   iwstp='restarts' from 50000=500 years to 10000=100 years
#   itstp='time series' from 100=1 year to 5000=50 years
#   ianav='an average' stays 50000=500 years
go_3=50000
go_4=10000
go_5=5000
go_6=20000

# this is to control seaice output periods
#   npstp='health check' from 1000=10 years to 50000=500 years
#   iwstp='restarts' from 50000=500 years to 10000=100 years
#   itstp='time series' from 100=1 year to 5000=50 years
#   ianav='an average' stays 50000=500 years
gs_3=50000
gs_4=10000
gs_5=5000
gs_6=20000

# this is to turn graphics off
ma_lgraphics=.false.

# this is to change the model run length
#   720=1 month of igcm (timestep=1 hour) to 2500000=5000 years of c-goldstein
ma_koverall_total=2500000

# this changes the relative atmos/ocean/seaice calling frequency
ma_ksic_loop=5
ma_kocn_loop=5

# Specify the observational data and topography
ea_topo=worap1
go_topo=worap1
gs_topo=worap1

go_Tdata=worap1.k1_T.silo
go_Sdata=worap1.k1_S.silo

# Tuneable parameters
# ===================
#
# GOLDSTEIN
# go_13				# SclTau
# go_14				# OcnHorizDiff
# go_15				# OcnVertDiff
# go_16				# InvDrag
#
# EMBM
# ea_11=go_13			# SclTau
# ea_12				# AtmDiffAmpT
# ea_13				# AtmDiffAmpQ
# ea_14				# AtmDiffWidthT
# ea_15				# AtmDiffSlopeT
# ea_16				# AtmAdvectCoeffTm
# ea_18				# AtmAdvectCoeffQm
# ea_19=ea_18			# AtmAdvectCoeffQz
# ea_28				# SclFWF
#
# SEAICE
# gs_11				# SeaiceDiff
