# C-GOLDSTEIN DEFAULT INTEGRATION OF 5000 YEARS WITH GENIE-land
# Fixed present-day vegetation

EXPID=genie_eb_go_gs_ml

ma_flag_ebatmos=.TRUE.
ma_flag_goldsteinocean=.TRUE.
ma_flag_goldsteinseaice=.TRUE.
ma_flag_land=.TRUE.
ma_flag_igcmatmos=.FALSE.
ma_flag_fixedocean=.FALSE.
ma_flag_fixedseaice=.FALSE.
ma_flag_fixedicesheet=.FALSE.
ma_flag_fixedchem=.FALSE.

# DP flags are important for global water and energy
# conservation tests
GENIEDP=TRUE
IGCMATMOSDP=TRUE

GENIENXOPTS='$(DEFINE)GENIENX=36'
GENIENYOPTS='$(DEFINE)GENIENY=36'

# this is to only write ocean-grid data in genie-main
ma_write_flag_atm=.false.
ma_write_flag_sic=.false.

# this is to write genie-main data every 50000 timesteps=100 years
ma_dt_write=50000

# this is to control embm output periods
#   npstp='health check' from 1000=10 years to 50000=500 years
#   iwstp='restarts' from 50000=500 years to 10000=100 years
#   itstp='time series' from 100=1 year to 5000=50 years
#   ianav='an average' stays 50000=500 years

ea_3=50000
ea_4=10000
ea_5=5000
ea_6=50000

# this is to control goldstein output periods
#   npstp='health check' from 1000=10 years to 50000=500 years
#   iwstp='restarts' from 50000=500 years to 10000=100 years
#   itstp='time series' from 100=1 year to 5000=50 years
#   ianav='an average' stays 50000=500 years
go_3=50000
go_4=10000
go_5=5000
go_6=50000

# this is to control seaice output periods
#   npstp='health check' from 1000=10 years to 50000=500 years
#   iwstp='restarts' from 50000=500 years to 10000=100 years
#   itstp='time series' from 100=1 year to 5000=50 years
#   ianav='an average' stays 50000=500 years
gs_3=50000
gs_4=10000
gs_5=5000
gs_6=50000

# this is to turn graphics off
ma_lgraphics=.false.

# this is to change the model run length
#   720=1 month of igcm (timestep=1 hour) to 2500000=5000 years of c-goldstein
ma_koverall_total=2500000

# this changes the relative atmos/ocean/seaice calling frequency
ma_ksic_loop=5
ma_kocn_loop=5
ma_klnd_loop=5

#########################################
# GENIE-land config changes
#########################################
ml_idiag_land=5000
ml_irest_land=50000
ml_iacc_land=5000
ml_c_restart=$CODEDIR/genie-mosestriffid/data/input/land_rs_embm_36x36.nc
ml_c_runoff_fl=$CODEDIR/genie-mosestriffid/data/input/runoff_mask_gold36x36.nc
