# $Id: genie_test.config 3177 2007-02-16 16:20:00Z cvs-gw $
# Fast test of standard configuration

#REMAKE=FALSE
EXPID=genie

TEST_NAME=${EXPID}_regtest
ASSUMEDGOOD_NAME=${EXPID}_assumedgood
KNOWNGOOD_NAME=${EXPID}_knowngood
BUILDTEST_NAME=${EXPID}_buildtest

TESTFILE=igcm/igcm_da_2000_01.nc

ma_koverall_total=72
ia_ldaily=.true.
