# $Id: genie_r4r8_test.config 3228 2007-04-03 13:37:29Z cvs-icr $
# Fast test of standard configuration

EXPID=genie_r4r8

TEST_NAME=${EXPID}_regtest
ASSUMEDGOOD_NAME=${EXPID}_assumedgood
KNOWNGOOD_NAME=${EXPID}_knowngood
BUILDTEST_NAME=${EXPID}_buildtest

TESTFILE=igcm/igcm_cl_2000_01.nc

ma_koverall_total=720
IGCMATMOSDP=TRUE

ia_lcalc_blayer_vals=.true.
