# CONFIGURATION TEMPLATE (EMBM + GOLDSTEIN + GOLDSTEIN SEA-ICE + ATCHEM + BIOGEM)


# *******************************************************************
# COMPILER OPTIONS
# *******************************************************************
# Set floating point precision
# NOTE: currently BIGOEM will ony work in conjunction the IGCM compiled if everything is real*8
GENIEDP=TRUE
IGCMATMOSDP=TRUE
# Set build options (un-comment to compile and run with more comprehsneive de-bugging)
#BUILD=DEBUG


# *******************************************************************
# GENIE COMPONENT SELECTION
# *******************************************************************
ma_flag_ebatmos=.TRUE.
ma_flag_goldsteinocean=.TRUE.
ma_flag_goldsteinseaice=.TRUE.
ma_flag_igcmatmos=.FALSE.
ma_flag_fixedocean=.FALSE.
ma_flag_fixedseaice=.FALSE.
ma_flag_fixedicesheet=.FALSE.
ma_flag_fixedchem=.FALSE.
ma_flag_biogem=.TRUE.
ma_flag_atchem=.TRUE.
ma_flag_sedgem=.FALSE.
ma_flag_rokgem=.FALSE.


# *******************************************************************
# GRID CONFIGURATION
# *******************************************************************
# Set ATCHEM grid the same as GOLDSTEIN grid (but one vertical level)
GENIENXOPTS='-DGENIENX=36'
GENIENYOPTS='-DGENIENY=36'
GENIENLOPTS='-DGENIENL=1'
# Grid resolution
GENIENXOPTS='$(DEFINE)GENIENX=36'
GENIENYOPTS='$(DEFINE)GENIENY=36'
GOLDSTEINNLONSOPTS='$(DEFINE)GOLDSTEINNLONS=36'
GOLDSTEINNLATSOPTS='$(DEFINE)GOLDSTEINNLATS=36'
GOLDSTEINNLEVSOPTS='$(DEFINE)GOLDSTEINNLEVS=16'
## Number of Islands
#GOLDSTEINNISLESOPTS='$(DEFINE)GOLDSTEINNISLES=2'
# Specify the observational data and topography: EMBM
ea_topo='p0055c'
ea_taux_u="p0055c_taux_u.interp"
ea_tauy_u="p0055c_tauy_u.interp"
ea_taux_v="p0055c_taux_v.interp"
ea_tauy_v="p0055c_tauy_v.interp"
ea_adv_u="p0055c_uncep.silo"
ea_adv_v="p0055c_vncep.silo"
# Specify the observational data and topography: GOLDSTEIN
go_topo='p0055c'
# Specify the observational data and topography: GOLDSTEIN sea-ice
gs_topo='p0055c'
#assumed longitudinal offset of the grid
gm_par_grid_lon_offset=-180.0


# *******************************************************************
# OUTPUT CONFIGURATION
# *******************************************************************
# Set experiment ID
# NOTE: the full (directory) name of the experiment consists of this ID followed by '.' and run ID (set at the command line)
EXPID='genie_eb_go_gs_ac_bg_hadcm3l_maastrichtian_36x36x16_5i'
# this is to only write ocean-grid data in genie-main
ma_write_flag_atm=.false.
ma_write_flag_sic=.false.
# this is to turn graphics off
ma_lgraphics=.false.
# turn off CALL to diagend
go_ctrl_diagend=.false.


# *******************************************************************
# TIME CONTROL AND TIME-STEPPING
# *******************************************************************
# NOTE: For igcm where dt is usually 1 hour, use koverall_total=8640 for a 1 year run.
#       For c-goldstein, where dt is usually 365.25/500 days, use koverall_total=500 for a 1 year run.
# NOTE: 720=1 month of igcm (timestep=1 hour) to 2500000=5000 years of c-goldstein
#       BIOGEM run length = ma_koverall_total/500
#
# 1. TIME_STEP DURATION
#ma_genie_timestep=3600.0
# c-goldstein; ma_genie_timestep = 8640.0/500 * 3600.0 (IGCM year length)
#ma_genie_timestep=62208.0
# c-goldstein; ma_genie_timestep = 365.25*24.0/500 * 3600.0 (GOLDSTEIN year length)
ma_genie_timestep=63115.2
#
# 2. MODEL RUIN LENGTH
# NOTE: these 3 parameter values are appropriately set at run-time by the job submission script
#ma_koverall_total=1000500
#bg_par_misc_t_runtime=2001.0
# this is to write genie-main data every 50000 timesteps=100 years
#ma_dt_write=50000
#
# 3. EMBM, GOLDSTEIN, & SEA-ICE OUTPUT PERIODS
# npstp='health check', iwstp='restarts', itstp='time series', ianav='an average'
# ea_3, ea_4, ea_5, ea_6
# go_3, go_4, go_5, go_6
# gs_3, gs_4, gs_5, gs_6
# NOTE: all these parameter values are appropriately set at run-time by the job submission script
# 4. RELATIVE EMBM/GOLDSTEIN/SEA-ICE CALLING FREQUENCY
ma_ksic_loop=5
ma_kocn_loop=5


# *******************************************************************
# PHYSICAL CLIMATE CONFIGURATION #1: main goin parameters
# *******************************************************************
# temp0
go_10=10.0
# temp1
go_11=10.0
# rel
go_12=0.9000000
# scl_tau / SclTau
go_13=1.531013488769531300
# ocean diffusivites iso (or horiz) / OcnHorizDiff
go_14=1494.438354492187500000
# ocean diffusivites dia (or vert) / OcnVertDiff
go_15=0.000025363247914356
# inverse minimum drag in days / InvDrag
go_16=2.710164785385131800
# scl_tau (should be same as GOLDSTEIN's value) / SclTau
ea_11=1.531013488769531300
# atm. diff. amp. for T / AtmDiffAmpT
ea_12=5204945.000000000000000000
# atm. diff. amp. for q / AtmDiffAmpQ
ea_13=1173269.250000000000000000
# dist'n width / AtmDiffWidthT
ea_14=1.410347938537597700
# dist'n slope / AtmDiffSlopeT
ea_15=0.090003050863742828
# atm. advection factor for T_z / AtmAdvectCoeffTm
ea_16=0.001037851092405617
# atm. advection factor for T_m / AtmAdvectCoeffQm
ea_17=0.0000000E+00
# atm. advection factor for q_z / AtmAdvectCoeffQz
ea_18=0.164652019739151000
# atm. advection factor for q_m / AtmAdvectCoeffQz
ea_19=0.164652019739151000
# SclFWF
ea_28=0.0
# sea-ice eddy diffusivity / SeaiceDiff
gs_11=3573.718017578125000000


# *******************************************************************
# USER-APPENDED OPTIONS FOLLOW ...
# *******************************************************************
