#
# Config file to test Agatha's fakeatmos model.
#

EXPID=genie_na_go_ni

TEST_NAME=${EXPID}_regtest
ASSUMEDGOOD_NAME=${EXPID}_assumedgood
KNOWNGOOD_NAME=${EXPID}_knowngood
BUILDTEST_NAME=${EXPID}_buildtest

TESTFILE=goldstein/gold_spn_av_0000000010_00.nc

GENIEDP=TRUE
IGCMATMOSDP=TRUE

ma_flag_fakeatmos=.TRUE.
ma_flag_ebatmos=.FALSE.
ma_flag_goldsteinocean=.TRUE.
ma_flag_goldsteinseaice=.FALSE.
ma_flag_igcmatmos=.FALSE.
ma_flag_fixedocean=.FALSE.
ma_flag_fixedseaice=.FALSE.
ma_flag_fixedicesheet=.FALSE.
ma_flag_fixedchem=.FALSE.

#### Overall setup
# ma_koverall_total = overall timesteps
# ma_dt_write : frequency or writing genie main gate
# ma_ksic,ma_kocn_loop: changes relative atmos/ocean/seaice frequency

ma_koverall_total=1800
ma_dt_write=180
ma_ksic_loop=1
ma_kocn_loop=1

#### Boundary condition setup
fk_fname_climate=$CODEDIR/genie-fakeatmos/data/input/bcond2d_embm_kevin.nc
fk_trest_flag=.true.
fk_srest_flag=.false.
#fk_relaxt=120
#fk_relaxs=1.5e-7
#fk_nx=36
#fk_ny=36

#### Ocean setup
# this is to control goldstein output periods
# go3  npstp='health check' 180 = 1 year
# go4  iwstp='restarts' 180 = 1 year
# go5  itstp='time series' 180 = 1 year
# go6  ianav='an average' 180 = 1 year
# go8  days/year
# go9  timesteps/year

go_3=1800
go_4=1800
go_5=180
go_6=180
go_8=360
go_9=180
