# $Id
# AN IGCM-GOLDSTEIN-GOLDSEAICE-MOSESLAND INTEGRATION OF 2000 years,
#  with GA tuned parameters, varying albedo, synchronised land-sea masks, 
#  and Tiedtke convection.

EXPID=genie_Aig_Ogo72_Sgs72_Lml_gaalbedotiedtke

ma_koverall_total=17280000

# these bits set up the correct modules
ma_flag_goldsteinocean=.TRUE.
ma_flag_goldsteinseaice=.TRUE.
ma_flag_fixedocean=.FALSE.
ma_flag_fixedseaice=.FALSE.
ma_flag_land=.true.

# this is to make 360 timesteps per year from 100 default
go_9=360
gs_9=360
# this is for a 360-day year in goldstein
go_8=360
gs_8=360
# this is to control goldstein output periods
#   npstp='health check' from 1000=10 years to 90000=500 years
#   iwstp='restarts' from 50000=500 years to 1800=10 years
#   itstp='time series' from 100=1 year to 9000=5 years
#   ianav='an average' from 50000=500 years to 90000=500 years
go_3=90000
gs_3=90000
go_4=1800
gs_4=1800
go_5=900
gs_5=900
go_6=90000
gs_6=90000

# this changes the relative atmos/ocean/seaice calling frequency
ma_ksic_loop=24
ma_kocn_loop=24

# only one iteration of ocean and land blayer every hour (for speed).
ia_itslo=1
ia_itsll=1

# **********************************************************
# The bits below to change to a long run (10-yearly restarts):
ma_dt_write=86400
ia_dt_restart_igcmlandsurf=86400
ia_dt_restart_igcmoceansurf=86400
ss_dt_restart_slabseaice=14400
fi_dt_restart_fixedicesheet=360
fc_dt_restart_fixedchem=360
ml_irest_land=86400
ia_KOUNTR=86400
# **********************************************************

# **********************************************************
# For the latitude-varying albedo
ia_lvaralbedo=.true.
# **********************************************************

# **********************************************************
# For CO2 to pre-indistrial (279ppmv)
fc_co2_fix=279.0e-6
# **********************************************************

# **********************************************************
# For Tiedtke convection
ia_lcr_tiedtke=.true.
ia_lcr=.false.
# **********************************************************

# **********************************************************
# For high-res goldstein ocean
GOLDSTEINNLONSOPTS='$(DEFINE)GOLDSTEINNLONS=72'
GOLDSTEINNLATSOPTS='$(DEFINE)GOLDSTEINNLATS=72'
GOLDSTEINNLEVSOPTS='$(DEFINE)GOLDSTEINNLEVS=16'
go_topo=dan_72
go_Tdata=tempann.silo.72x72x16
go_Sdata=saliann.silo.72x72x16
# **********************************************************

# **********************************************************
# For high-res goldstein seaice
GOLDSTEINNLONSOPTS='$(DEFINE)GOLDSTEINNLONS=72'
GOLDSTEINNLATSOPTS='$(DEFINE)GOLDSTEINNLATS=72'
GOLDSTEINNLEVSOPTS='$(DEFINE)GOLDSTEINNLEVS=16'
gs_topo=dan_72
# **********************************************************


# **********************************************************
# Here are the tunable parameters:

# Radiation, namelist INIRADN.
# zradef: min=1.25, max=20
# supersatlarg: min=0.0025, max=0.04
# supersatconv: min=0.0025, max=0.04
# cloudconvnorm: min=0.05, max=0.45
# cloudconvbase: min=0.8, max=1.0
# emissconsta: min=0.8, max=1.3
# emissconstb: min=60, max=140
ia_zradef=3.09180402755737
ia_supersatlarg=0.03298763558269
ia_supersatconv=0.01273122709244
ia_cloudconvnorm=0.44094017148018
ia_cloudconvbase=0.80181926488876
ia_emissconsta=1.15192306041718
ia_emissconstb=1.278144073486328e+02


# Cloud properties, namelist INICLOUD
# humcloudmin: min=0.6, max=0.95
# humcloudmax: min=0.85, max=1.2
# powercloud: min=1, max=3
# cloudhfact: min=0.25, max=4.0
# cloudmfact: min=0.25, max=4.0
# cloudlfact: min=0.25, max=4.0
ia_humcloudmin=0.72626066207886
ia_humcloudmax=0.90848290920258
ia_powercloud=1.00158727169037
ia_cloudhfact=1.0
ia_cloudmfact=1.0
ia_cloudlfact=1.0


# Vertical diffusion, namelist INIVDIFF
# increaseu: min=1, max=10
# increaseq: min=0.6, max=1.4
# increaset: min=0.25, max=4.0
ia_increaseu=7.33241748809814
ia_increaseq=0.88879120349884
ia_increaset=0.66781133413315


# Physics parameters, namelist INIPHYS
# akqv: min=0.6, max=1.4
# time of relaxation (in hours) towards reference state trcnv: min=1.5, max=48.0
# relative hum. threshold in the boundary layer rhbl: min=0.1, max=2.
# rel. hum. threshold in intermed. layers for secondary mass flux rhil: min = 0.2, max =2.0
# max. entrainment as a fraction of cloud-base mass flux entmax: min=0.0, max=1.0
# ratio between secondary and primary mass flux at cloud-base smf: min =0.0, max=1.5
# relaxation time (in hours) for shallow convection trshc: min=1.0, max=48.0
# relaxation time (in hours) for moisture diffusion trvdi: min=2., max=48.
# relaxation time (in hours) for super-adiab. conditions trvds: min=1.0, max=48.0
# reduction factor of shallow conv. in areas of deep conv. redshc: min=0.0, max=1.0
# maximum gradient of relative humidity rhgrad: min=0.01, max=2.0
# minimum gradient of dry static energy segrad: min=0.01, max=1.0
ia_akqv=1.12771677970886
ia_trcnv=6.0
ia_rhbl=0.9
ia_rhil=0.7
ia_entmax=0.5
ia_smf=0.8
ia_trshc=6.
ia_trvdi=24.
ia_trvds=6.
ia_redshc=0.5
ia_rhgrad=0.5
ia_segrad=0.1


# icesheet parameters, namelist FIXEDICESHEET_CONTROL
# albedo_icesheet, min=0.6, max=0.8
fi_albedo_icesheet=0.75


# ocean parameters
# ocean albedo go_albedo_ocean: min=0.025, max=0.075
# gustiness additive parameter go_gust: min=0.0, max=5.0
# flux multiplicative parameter go_ene_tune: min=0.5, max=2.0
# go_13: min=1.0, max=3.0
# go_14: min=300.0, max=10000.0
# go_15: min=2.0e-6, max=2.0e-4
# go_16: min=0.5, max=5.0
go_albedo=0.07422161102295
go_gust=0.0
go_ene_tune=1.0
go_13=2.00
go_14=2000.
go_15=1e-5
go_16=2.5


# goldstein seaice parameters
# seaice diffusivity: min=500.0, max=8000.0
gs_11=2000.0

# Moses-land parameters
# snow-free albedo of non-veg tiles ml_albsnf_nvg: min=0.05, max=0.95
# snow-free albedo of veg tiles ml_albsnf_max: min=0.05, max=0.95
# Heat conductivity of non-veg tiles (x2) ml_hcon_nvg: min=0.05, max=5.00
# Heat capacity of non-veg tiles (x2) ml_hcap_nvg: min=0.1e6, max=5.0e6
# Heat capacity of veg tiles ml_hcap_veg: min=0.1e6, max=5.0e6
# Soil temperature below which snow ml_snow_thresh: min=263.0,max=273.0
# factor for energy ene_tune, min=0.5, max=2.0
# factor for wind stress str_tune, min=0.5, max=2.0
ml_albsnf_nvg1=0.35 
ml_albsnf_nvg2=0.75
ml_albsnf_max1=0.10 
ml_albsnf_max2=0.10 
ml_albsnf_max3=0.20 
ml_albsnf_max4=0.20 
ml_albsnf_max5=0.20
ml_hcon_nvg1=1.00 
ml_hcon_nvg2=0.27
ml_hcap_nvg1=3.3E5
ml_hcap_nvg2=6.3E5
ml_hcap_veg=3.3E6
ml_snow_thresh=271.15
ml_ene_tune=1.0
ml_str_tune=1.0


# **********************************************************
